/.idea/dictionaries/inwebo.xml
/todo/class.config.2.php
/todo/class.config.php
/todo/curl.php
/todo/google-compressor/.idea/.name
/todo/google-compressor/.idea/encodings.xml
/todo/google-compressor/.idea/google-compressor.iml
/todo/google-compressor/.idea/modules.xml
/todo/google-compressor/.idea/scopes/scope_settings.xml
/todo/google-compressor/.idea/vcs.xml
/todo/google-compressor/.idea/workspace.xml
/todo/google-compressor/form.html
/todo/google-compressor/index.php
/todo/trait/.idea/.name
/todo/trait/.idea/encodings.xml
/todo/trait/.idea/misc.xml
/todo/trait/.idea/modules.xml
/todo/trait/.idea/scopes/scope_settings.xml
/todo/trait/.idea/trait.iml
/todo/trait/.idea/vcs.xml
/todo/trait/.idea/workspace.xml
/todo/trait/index.php
/todo/trait/notwritable/foo
/todo/trait/writable/foon
/.idea/.name
/.idea/Libre.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
*.*~
